/* tout ce qui est en dessous de 768 pour les téléphones portables */

@media(max-width:48rem){
/* ================ */ 
 .Body{
     margin:0;
     padding: 0;
    }
/* ================ */ 


 .Header{
   flex-direction: column;
 }

 .Header__logo{
   margin:1.875rem 0;
 }

 .Header__nav{
   display:grid;
   width:100%;
   grid-template-columns: 50% 1fr;
   text-align: center;
 }


 .Header__link::after{
   content: '';
   position: absolute;
   width:100%;
   bottom: -0.9375rem;
   right:0;
   border: solid var(--background-grey) 1.5px;
 }
 .Header__link:hover::after{
  top:auto;
 }

 .Header__link--margin{
    margin:0;
  }
}