/* tout ce qui est en dessous de 768 pour les téléphones portables */

@media(max-width:48rem){
/* ================ */ 
 .Body{
     margin:0;
     padding:0;
    }
/* ================ */ 


/* =============================== */ 
/* ========    HEADER  ==========  */ 
/* =============================== */ 


 .Header{
   flex-direction: column;
 }

 .Header__logo{
   margin:1.875rem 0;
 }

 .Header__nav{
   display:grid;
   width:100%;
   grid-template-columns: 50% 1fr;
   text-align: center;
 }


 .Header__link::after{
   content: '';
   position: absolute;
   width:100%;
   bottom: -0.9375rem;
   right:0;
   border: solid var(--background-grey) 1.5px;
 }
 .Header__link:hover::after{
  top:auto;
 }

 .Header__link--margin{
    margin:0;
  }


  /* =============================== */ 
/* ========   MAIN    ==========  */ 
/* =============================== */
.Main{
  padding:2.5rem 1.25rem 2.1875rem 1.25rem;
  margin-top:0;
}
.Main__title{
  font-size:1.375rem;
}

.Main__form__input{
  box-sizing: content-box;
  padding-right:2.5rem;
}

.Main__form__bouton{
  display: none;
}
.Main__form__loupe{
  visibility: visible;
  position: absolute;
  left:18.75rem;
  cursor: pointer;
}
.Main__form__logo{
  padding:0.95rem;
}
  
  
  /* =============================== */ 
  /* ========    FOOTER  ==========  */ 
  /* =============================== */ 
  .Footer{
    display: flex;
    flex-direction: column;
    padding:1.875rem;
  }

  .Footer__nav__title--margin{
   margin-top:3.125rem;
  }
  
}







/* PETIT RESPONSIVE + */ 


/* FORMULAIRE DU MAIN */ 
@media(max-width:22.5rem){
  .Main__form__input{
    padding:0 0 0 0.625rem;
  }
  .Main__form__loupe{
    left:15rem;
  }
}