/* PARAMETRAGE GENERAUX */ 
.Body{
    font-size: 100%;
    max-width: 90rem;
    min-width: 20rem; /* Minimum 320px */ 
    margin-inline: auto;
    box-sizing: border-box;
    padding:0  3.125rem;
}
:root{
    --light-blue: #0065FC;
    --background-grey:#F2F2F2;
    --clear-blue:#DEEBFF;
}
a{ text-decoration: none; }
*{ font-family: 'Raleway', sans-serif; }
/* PARAMETRAGE GENERAUX */ 


/* =============================== */ 
/* ========    HEADER  ==========  */ 
/* =============================== */ 

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__logo{
    margin-top:1.875rem;
}

.Header__link{
    position: relative;
}
.Header__link:hover{
    color: var(--light-blue);
}

.Header__link:hover::after{
    content: '';
    position: absolute;
    border: solid 1.4px var(--light-blue);
    width:100%; 
    right:0;
    top:-1.4375rem;
}

.Header__link--margin{
    margin-left:4.375rem;
}

/* =============================== */ 
/* ========    MAIN  ==========  */ 
/* =============================== */ 
.Main{
    margin-top:4rem;
}

.Main__title{
    font-size:1.375rem;
    margin:0;
}

.Main__text{
    margin:0.5rem 0;
}



/* Formulaire */ 
.Main__form{
    display:flex;
    margin: 2.1875rem 0;
}

.Main__form__logo{
    width:0.875rem;
    padding:1.1875rem 1.375rem;
    background-color: var(--background-grey);
    border-radius: 0.9375rem 0px 0px 0.9375rem;
}

.Main__form__input{
    box-sizing: border-box;
    border:solid 1px var(--background-grey);
    font-size:1.125rem;
    font-weight:700;
    padding-left:1.5rem;
    width:12.1875rem;
}

.Main__form__bouton{
    background-color: var(--light-blue);
    color:white;
    font-size:1.125rem;
    font-weight: 600;
    border-radius: 0 0.9375rem 0.9375rem 0;
    padding:0.875rem 1rem;
    border:none;
}

.Main__form__loupe{
    visibility: hidden;
    padding:1rem;
    border-radius:0.9375rem;
    background-color: var(--light-blue);
}


/* Filtres */ 
.Section{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:0.9375rem;
}

.Section__figure{
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: solid var(--background-grey) 2px;
    margin:0;
    padding:0.6875rem 1.25rem;
}

.Section__figure__logo{
    width:1.375rem;
}
.Section__figure__logo--petit{
    height:1.375rem;
    width:0.8125rem;
}
.Section__figure__logo--moyen{
    height:1.25rem;
    width:1.125rem;
}

.Section__figure__title{
    margin:0 0 0 0.75rem;
    font-size:1.0625rem;
}

.Section__figure:hover{
    background-color: var(--clear-blue);
    cursor: pointer;
    transition: 200ms;
}


/* PETITE DIV INFORMATION */
.Information{
    display: flex;
    margin-top:1.125rem;
    align-items: center;
}
.Information__logo{
    width:0.5625rem;
    height:0.5625rem;
    padding:0.375rem;
    border-radius:50%;
    border: solid var(--background-grey) 2px;
    margin-right:0.625rem;
}




/* =============================== */ 
/* ========    FOOTER  ==========  */ 
/* =============================== */ 
.Footer{
    display:grid;
    grid-template-columns: 35%  35%  30%;
    background-color: var(--background-grey);
    padding:1.25rem;
}

.Footer__nav{
    display:flex;
    flex-direction: column;
}

.Footer__nav__title{
    font-size:1.125rem;
    margin:0;
}

.Footer__nav__link{
    margin-top:0.9375rem;
}