/* PARAMETRAGE GENERAUX */ 
.Body{
    font-size: 100%;
    max-width: 90rem;
    min-width: 20rem; /* Minimum 320px */ 
    margin-inline: auto;
    box-sizing: border-box;
    padding:0  3.125rem;
}
:root{
    --light-blue: #0065FC;
    --background-grey:#F2F2F2;
    --clear-blue:#DEEBFF;
}
a{ text-decoration: none; }
*{ font-family: 'Raleway', sans-serif; }
/* PARAMETRAGE GENERAUX */ 




/* =============================== */ 
/* ========    HEADER  ==========  */ 
/* =============================== */ 

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:3.75rem;
}

.Header__logo{
    margin-top:1.875rem;
}

.Header__nav{
    display:flex;
    width:15rem;
    justify-content: space-between;
}

.Header__link{
    position: relative;
}
.Header__link:hover{
    color: var(--light-blue);
}

.Header__link:hover::after{
    content: '';
    position: absolute;
    border: solid 1.4px var(--light-blue);
    width:100%; 
    right:0;
    top:-1.4375rem;
}


/* =============================== */ 
/* ========    MAIN  ==========  */ 
/* =============================== */   
.Main__title{
    font-size:1.375rem;
    margin:0;
}

.Main__text{
    margin:0.5rem 0;
}



/* Formulaire */ 
.Main__form{
    display:flex;
    margin: 2.1875rem 0;
}

.Main__form__logo{
    font-size: 1.125rem;
    padding:1.1875rem 1.375rem;
    background-color: var(--background-grey);
    border-radius: 0.9375rem 0px 0px 0.9375rem;
}

.Main__form__input{
    box-sizing: border-box;
    border:solid 1px var(--background-grey);
    font-size:1.125rem;
    font-weight:700;
    padding-left:1.5rem;
    width:12.1875rem;
}

.Main__form__bouton{
    background-color: var(--light-blue);
    color:white;
    font-size:1.125rem;
    font-weight: 600;
    border-radius: 0 0.9375rem 0.9375rem 0;
    padding:0.875rem 1rem;
    border:none;
}

.Main__form__loupe{
    visibility: hidden;
    padding:1rem;
    border-radius:0.9375rem;
    background-color: var(--light-blue);
}


/* Filtres */ 
.Section{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:0.9375rem;
}

.Section__figure{
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: solid #D9D9D9 2px;
    margin:0;
    padding:0.6875rem 1.25rem;
}


.Section__figure__logo{
    font-size: 1.25rem;
    color: var(--light-blue);
}

.Section__figure__title{
    margin:0 0 0 0.75rem;
    font-size:1.0625rem;
}

.Section__figure:hover{
    background-color: var(--clear-blue);
    cursor: pointer;
    transition: 200ms;
}


/* PETITE DIV INFORMATION */
.Information{
    display: flex;
    align-items: center;
    margin: 1.125rem 0 2.3125rem 0;
}
.Information__logo{
    font-size: 0.75rem; 
    color: var(--light-blue);
    padding:5px 10px; 
    border-radius:50%;
    border: solid var(--background-grey) 2px;
    margin-right:0.625rem;
}





/* =============================== */ 
/* ========  Hebergement  ==========  */ 
/* =============================== */
.Hebergement{
    display: grid;
    grid-template-columns: 2.05fr 1fr;
    gap: 2.5rem;
    margin-bottom: 4.0625rem;
}


/* ========  Marseille  ==========  */ 
.Marseille{
    background-color: var(--background-grey);
    border-radius: 15px;
    padding: 1.875rem;
}

#Hebergements{
    font-size:1.375rem;
    margin: 0 0 1.875rem 0;
}

.Marseille__nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.Marseille__link{
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0.375rem;
}

.Marseille__img{
    object-fit: cover;
    width: 100%;
    height: 7.375rem;
    border-radius: 15px 15px 0px 0px;
}

.Marseille__figcaption{
    padding: 0.25rem 0 0.4375rem 0.6875rem;
    color: black;
}

.Marseille__text{
    margin: 0 0 0.5rem 0;
}
.Marseille__price{
    margin: 0 0 0.1875rem 0;
    font-size:0.875rem;
}

.Marseille__logo{
    width: 0.75rem;
    font-size: 0.8125rem;
    color: var(--light-blue);
}
.Populaire__logo{
    color: var(--light-blue);
    font-size: 0.75rem;
    width: 0.625rem;
}
.Blanc{
    color: var(--background-grey);
}

.Marseille__more{
    color: black;
    font-size: 1.125rem;
    font-weight: 700;
}






/* ========  Populaire  ==========  */ 
.Populaire{
    background-color: var(--background-grey);
    border-radius: 15px;
    padding: 30px;

}

.Populaire__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
}

.Populaire__title{
    margin: 0;
    font-size: 22px;
}

.Populaire__graph{
    font-size: 20px;
    color: var(--light-blue);
}

.Populaire__nav{
    display:grid;
    gap: 30px;
}


.Populaire__link{
    display: flex;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5px;
    height: 8.5rem;
    position: relative;
}

.Populaire__img{
    width: 33%;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
}

.Populaire__figcaption{
    padding: 10px 10px 0 15px;
    color:black;
}

.Populaire__titre{
    margin: 0;
    font-weight: 800;
}

.Populaire__price{
    margin: 5px 0 0 0;
}

.Populaire__logos{
    position: absolute;
    bottom: 10px;
}



/* =============================== */ 
/* ========  ACTIVITES  ==========  */ 
/* =============================== */
.Article{
   padding: 0 1.875rem;
   margin-bottom:4.0625rem;
}

#Activites{
    font-size:1.375rem;
    margin-bottom:1.875rem;
}

.Article__nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.875rem;
}

.Article__link{
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.Article__img{
    width:100%;
    height: 23.75rem;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.Article__text{
    color:black;
    margin: 0.9375rem 1.1875rem 1.125rem 1.1875rem;
    font-size:1rem;
}


/* =============================== */ 
/* ========    FOOTER  ==========  */ 
/* =============================== */ 
.Footer{
    display:grid;
    grid-template-columns: 35%  35%  30%;
    background-color: var(--background-grey);
    padding:1.25rem;
}

.Footer__nav{
    display:flex;
    flex-direction: column;
}

.Footer__nav__title{
    font-size:1.125rem;
    margin:0;
}

.Footer__nav__link{
    margin-top:0.9375rem;
}